doctype 5
html
	head
		title #{title}|DSP
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href="/stylesheets/bootstrap.min.css", rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
		link(rel = 'icon', href='/img/dsp.jpg')

		link(rel='stylesheet', href='/stylesheets/jasny-bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/jasny-bootstrap-responsive.min.css')
		script(src = '/javascripts/jquery.js')
		script(src='/javascripts/bootstrap.min.js')
		script(src='/javascripts/bootstrap-fileupload.js')
		script(src= 'http://code.jquery.com/ui/1.9.1/jquery-ui.js')
		script(src='/javascripts/front.js')
		script(type="text/javascript", src="/javascripts/jquery.media.js")
	body
		div.navbar.navbar-fixed-top.navbar-inverse
			div.navbar-inner
				div.container
					a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.brand#logo(href="/") DSPFS
					div.nav-collapse
						ul.nav
							if (!user)
								li
									a(href="/login") Login

								li
									a(href="/reg") Register

							else
								li
									a(href="/profile") Profile
								li
									a(href= "/search") Search File
								if(user.author == 'Admin' | user.author == 'Dev')
									li
										a(href='/upload') Upload
								if(user.author == 'Dev')
									li
										a(href='/error') Reported Errors
								li
									a(href= "/logout") Logout


		div.container#containter
			if (succ)
				div.alert.alert-success= succ
			if (err)
				div.alert.alert-error= err
			block content
		footer.footer.affix-bottom
			small
				a(href='/errorReport')
					font(size = '3') Report Error
			nav
				ul
					li
						a(href='/contact')
							font(size = '3') Contact