extends layout

block content
	div.hero-unit
		h1 Delta-Sig File System
		P Get study file here
	div.row
		div.span4
			div.well.searchWay
				h3 Search File by Major
				p Search a certain file by major and class and professor.
				a(href='/search').btn.btn-primary#search Search
		div.span4
			div.well.searchWay
				h3 Search History
				p View personal searching history. Easy to retrieve files from other computers.
				a(href='/profile').btn.btn-primary#search  View History
		div.span4
			div.well.searchWay
				h3 File Request
				P You can send a file request, we will try to find the file you need
				a(href='/fileRequest').btn.btn-primary#search  Request
