extends layout

block content
	if(user)
		div.container#profileContain
			div.span2.sideBar
				div.profilePic
					img(src='/img/dsp.jpg')
				div.well#personalInfo
					a(href = '') Change password
					br
					a(href = '', style='margin-top:5px') Change profile pic


			div.span9
				ul.nav.nav-tabs#myTab
					li.active
						a(href = '#downloadHistory') Download History
					li
						a(href = '#GPACalculator') GPA Calculator
					li
						a(href = '#fileRequest') File Request
				div.tab-content
					div.tab-pane.active#downloadHistory
						legend Download History
						table.table.table-condensed.table-striped
							thead
								tr
									th File Name
									th Checkout Date
							tbody
								-for(var i = 0; i < records.length; i++)
									tr
										td
											a(href='/file/#{records[records.length-1-i].fileName}') #{records[records.length-1-i].fileName}
										td #{records[records.length-1-i].downloadDate}



					div.tab-pane#GPACalculator
						legend Calculate GPA
						div.courses
							div.classInfo
								input(type='text', placeholder= 'Class ID').course
								input(type='number', placeholder='Credits',min = 1).credits
								select.grade
									option(value = 'a') A
									option(value = 'b+') B+
									option(value = 'b') B
									option(value = 'c+') C+
									option(value = 'c') C
									option(value = 'd+') D+
									option(value = 'd') D
									option(value = 'f') F
								button(onClick = 'addcourse()').btn.btn-primary#addcourse
									i.icon-plus
						button(onclick= 'calculateGPA()').btn.btn-primary#calculateBtn Calculate
					div.tab-pane#fileRequest
						legend File Request
						div.reqB
							input#reqCourse(type='text', placeholder='Class',style='margin-left:20px; ')
							input#reqProf(type = 'text', placeholder='Professor full name', style='margin-left:10px; ' )
							br
							textarea#reqBody( placeholder='Request Detail', style='width: 50%; height: 150px;margin-left:20px;margin-top:10px', height = '')
							br
							button.btn.btn-primary#postFileReq(onclick='fileReqPost()', style='margin-left:20px') Submit
		script.
			$('#myTab a').click(function (e) {
				e.preventDefault();
			$(this).tab('show');
			});
			console.log(window.location.pathname );
			if(window.location.pathname == '/profile#fileRequest'){
				$('#fileRequest').tab('show');
			}

	else
		p.alert.alert-error Please login before viewing any page