extends layout
block content
	if(user)
		div.span4.searchComponents
			legend
				h2 Search File
			div
		div.span7.searchComponents
			legend
				h2 Search Result
	else
		p.alert.alert-error Please login before viewing any page