extends layout
block content
	if(user)
		div
		legend
			b #{title}  #{file}

		div.span8
			a.media#pdfReader(href='/#{file}')
		div.span3
			a.btn.btn-primary.btn-large#download(href = '/download/#{file}', style='margin-left:20%') Download
		script.
			$('a.media').media({width:800, height:700})
	else
		p.alert.alert-error Please login before viewing any page
