extends layout
block content
	div
		legend
			b #{title}  #{file}

		div.span8
			a.media#pdfReader(href='/#{file}')
		div.span3
			button.btn.btn-primary.btn-large#download(style='margin-left:20%') Download
			button.btn.btn-primary.btn-large#back(style='margin-left:20%; margin-top: 10px') Back
	script.
		$('a.media').media({width:800, height:700})